@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.contacto {
  color: #141314;
  margin-left: 25px;
  width: 30px;
}

.logo {
  border-radius: 100%;
  display: inline-block;
  margin: 25px;
  width: 150px;
}

body {
  background-color: #141314;
}

footer {
  color: #141314;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 0px;
  margin-top: 100px;
  text-align: center;
}

footer p {
  background-color: #bfbfbf;
  padding: 30px;
}

h1 {
  color: #dbd8d9;
  letter-spacing: 5px;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  background-color: #bfbfbf;
  color: #141314;
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: 75px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 15px;
}

i {
  color: rgb(207, 160, 5);
  font-size: 40px;
}

li {
  margin-top: 45px;
}

ul li a {
  color: #bfbfbf;
  font-size: 40px;
  font-weight: 400;
  margin-left: 20px;
  text-decoration: none;
}