h1 {
    color:rgb(0, 0, 138);
    word-spacing: 40px;
    letter-spacing: 5px;
    background-color: #BFBFBF; 
    text-transform: uppercase;
}

h2 {
    color:rgba(138, 9, 0, 0.651);
    word-spacing: 15px;
    letter-spacing: 5px;
    background-color: #BFBFBF;
    font-size: 18px;
    text-transform: uppercase;
}

.header-img {
    width: 500px;
    border-radius: 25px;
    margin-top: 10px;
}

body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

header {
    background-color: #dddddd;
    text-align: center;
}

main {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
}

footer {
    background-color: #1F497D;
    text-align: center;
    color: wheat;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 0px;
}

.iconos-footer {
    align-content: center;
    width: 20px;
}

  
  