.registro-nuevo {
    width: 444.68px;
    display: block;
    margin: auto;
    margin-top: 126px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #333333;
    margin-bottom: 50px;
    font-size: 72px;
}

input, select {
    text-align: left;
    padding: 10px;
    border: solid 1.5px black;
    font-family: 'Karla', sans-serif;
    display: block;
    width: 100%;
    margin-bottom:20px;
}